[package]
name = "emacs_module_bindings"
version = "0.7.0"
authors = [
    "Aaron France <aaron.l.france@gmail.com",
    "Joey Ezechiëls <joey.ezechiels@gmail.com",
    "Nguyễn Tuấn Anh <ubolonton@gmail.com>",
]
description = "Rust library for creating emacs modules"
license = "BSD-3-Clause"
build = "build.rs"

[build-dependencies]
bindgen = "0.32"

[dependencies]
libc = "0.2"
regex = "0.2"
lazy_static = "1.0.0"

[lib]
name = "emacs_module_bindings"
path = "src/lib.rs"

[workspace]
members = [
    ".",
    "test-module",
    "rs-module",
]
